# Ignorer les node_modules des deux projets
/assistant-ai-cv-front/node_modules/
/assistant-ai-cv-back/node_modules/

# Fichiers temporaires
*.log
.env

# Configs d'IDE
.idea/
*.iml

# Logs npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers système
.DS_Store
Thumbs.db

# Dossiers de build
dist/
build/
